[MASTER]
# Python version to use for features
py-version=3.8

# Specify a score threshold to be exceeded before program exits with error.
fail-under=7.0

[MESSAGES CONTROL]
# Disable the following pylint messages
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    W0718, # broad-exception-caught
    W0613, # unused-argument
    E0401, # import-error
    E1101, # no-member
    R0903, # too-few-public-methods
    R0914, # too-many-locals
    R0913, # too-many-arguments
    R0915, # too-many-statements
    W0703, # broad-except

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

[DESIGN]
# Maximum number of arguments for function / method
max-args=8

# Minimum number of public methods for a class
min-public-methods=1

# Maximum number of public methods for a class
max-public-methods=20

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=6

# Ignore imports when computing similarities.
ignore-imports=yes

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=
    matplotlib,
    tkinter

[REPORTS]
# Set the output format.
output-format=text

# Tells whether to display a full report or only the messages
reports=yes

# Python expression which should return a note less than 10
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)